
.idea/
#Ignore everything in target folder
target/*

#Don't ignore jar
!/target/MentionPlugin-*-jar-with-dependencies.jar

*.class
target/classes/plugin.json
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
